.yui-g label {padding: 0 1em 0 0; width: 8em; text-align: right; float: left; clear: both}
.yui-g p {font-size: 93%; margin: 0 0 .8em 8em; padding: 0; line-height: normal}
.yui-g p select {margin-top: -.2em;}

textarea {width: auto;}
.yui-g h3 {margin: 0; padding: 0; }

.yui-g p {margin:0 0 0.8em 9em;}

form {display:inline;}