.yui-t4 #yui-main, .yui-t5 #yui-main, .yui-t6 #yui-main { margin-right:-26em; }
.yui-t6 .yui-b {width: 336px;}
.downloadbar {margin-top: 0; padding: .3em; background: #fff; line-height: 150%; cursor: pointer;}
.downloadbar a {color: #fff}
.downloadbar span {position: relative; z-index: 1;}
.downloadbar img {position: absolute; top: -17px; right: 10px; z-index: 0;}
.downloadbar small {margin-top: 1em; font-size: 77%; color: #fff; font-weight: normal; opacity: .7;}
.downloadbar h3 {background: #63A624 url("http://c.fsdn.com/sf/images/phoneix/grad_dark_30.png") repeat-x bottom; padding: 1em; margin: 0; font-size: 116%; font-weight: normal}
#ccabar { background-color: #fff; position: relative; min-height: 50px;}
#ccabar img { width: 23px; height: 50px; float: left; margin-right: 1em;}
#ccabar a { color: #444444; font-size: 77%; line-height: 2; }
.external h3 {background-color: #444}
.external .downloadbar h3 {background-color: #444}

.yui-g.ads .yui-u {width: 36%; margin: 0 4em; text-align: center; }

#project_nav_container {
    margin: -1em -2em 0 -2em;
    padding: 0.3em 2em 1em 2em;
    background: #020202;
}
#project_nav_container h1 { margin: 0; padding: 0; text-align: left; font-size: 123.1% }
#project_nav_container h1 a, #project_nav_container h1 a:visited { color: #fff; text-decoration: none; }
.report_link { position: absolute; top: 0; right: 0; text-align:right; margin-right: 2em; margin-top: 1px; color: #444; }

