table
{
	empty-cells: show;
	width: 100%;
}
#cluetip {background: #fff; border: 1px solid #ccc;}
table caption { display: none; }

thead tr th {font-size: 85%; border: 1px solid #aaa; border-bottom: 2px solid #aaa; color: #555; background-image: url("http://c.fsdn.com/sf/images//phoneix/gloss_sm.png");  background-repeat: repeat-x;}
.track thead tr th {background: transparent; border: none; border-left: 1px solid #ddd; border-bottom: 2px solid #ddd}
thead tr th a {min-height: 16px;}
tbody tr td {border: none; border-bottom: 1px solid #ccc; border-top: 1px solid #eee; border-left: 1px solid #ddd; background-image: url("http://c.fsdn.com/sf/images//phoneix/grad_white_30.png"); background-position: 0 -1.3em; background-repeat: repeat-x;}
tbody tr td:first-child, .track thead tr th:first-child, tfoot tr td:first-child {border-left: none;}
tfoot tr td {border: none; border-top: 2px solid #ddd; }
thead tr td {border: none; }
thead th,
tbody td,
tfoot td {text-align: left; font-size: 93%}
tbody tr.even {background: #f2f8ff}

/* tracker */
.comments, .track {width: 100%}
.comments .yui-gf {border: 1px solid #ddd; background: #eee;}
.comments .yui-gf .yui-u.first {background: transparent; color: #555; border: none}
.comments .yui-gf .yui-u {background: #fff; border-left: 1px solid #ddd}
.track tbody tr td {border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}


.p1 {background-color: #9ff;}
.p2 {background-color: #cff;}
.p3 {background-color: #9fc;}
.p4 {background-color: #cfc;}
.p5 {background-color: #cf9;}
.p6 {background-color: #ffc;}
.p7 {background-color: #ff9;}
.p8 {background-color: #fc9;}
.p9 {background-color: #fcc; color: #300;}

/* FRS */
.release.current {background-color: #efe}

.page {text-align: right}
.results, .page {border: none; padding-bottom: .5em}

.select {background-color: #ddd;}
thead tr th a {color: #444 !important; display: block}

.sortd, .sortu {background-position: 100% 50%; padding: 0 24px 0 0}

#filters {padding: .5em 0; background: #eee url("http://c.fsdn.com/sf/images//phoneix/grad_dark_30.png") repeat-x bottom; font-size: 85%; color: #444; border: 1px solid #aaa !important; font-weight: normal}
#filters .yui-ge {margin: 0; padding: 0 .5em 0 1em}
#bd #filters .divider {margin: .5em 0;}

/* tables */
table.tablesorter .headerSortUp {
	background-image: url("http://c.fsdn.com/sf/images//phoneix/asc.gif") !important;
}
table.tablesorter .headerSortDown {
	background-image: url("http://c.fsdn.com/sf/images//phoneix/desc.gif") !important;
}
table.tablesorter thead tr .header {
	background-image: url("http://c.fsdn.com/sf/images//phoneix/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr {
    background: #f8fcff;
}

table.tablesorter .admin_access {
	cursor: pointer;
}